#sage {
  --c1: 207,125,139;
  --c2: 137, 104, 142;
}

#katya {
  --c1: 198, 159, 176;
  --c2: 145, 173, 200;
}

#molly {
  --c1: ;
  --c2: ;
}

#meimei {
  --c1: ;
  --c2: ;
}

#tadgh {
  --c1: ;
  --c2: ;
}

#ulrich {
  --c1: ;
  --c2: ;
}

#yuna {
  --c1: ;
  --c2: ;
}

#laila {
  --c1: ;
  --c2: ;
}

#briar {
  --c1: ;
  --c2: ;
}

#franklin {
  --c1: ;
  --c2: ;
}

#prue {
  --c1: 132, 155, 92;
  --c2: 95, 149, 91;
}

#beau {
  --c1: ;
  --c2: ;
}
