#sage {
  --c1: 207,125,139;
  --c2: 137, 104, 142;
  --g1: 207,125,139;
  --g2: 137, 104, 142;
}
  
#katya {
  --c1: 209, 144, 141;
  --c2: 136, 156, 159;
  --g1: 209, 144, 141;
  --g2: 136, 156, 159;
}

#molly {
  --c1: 132, 0, 33;
  --c2: 128, 98, 87;
  --g1: 132, 0, 33;
  --g2: 128, 98, 87;
}

#meimei {
  --c1: 187, 141, 177;
  --c2: 93, 45, 110;
  --g1: 187, 141, 177;
  --g2: 93, 45, 110;
}

#tadgh {
  --c1: 216, 167, 89;
  --c2: 168, 168, 100;
  --g1: 216, 167, 89;
  --g2: 168, 168, 100;
}

#ulrich {
  --c1: 16, 42, 107;
  --c2: 78, 114, 141;  
  --g1: 16, 42, 107;
  --g2: 78, 114, 141;
}

#yuna {
  --c1: 140, 181, 180;
  --c2: 28, 55, 4;
  --g1: 140, 181, 180;
  --g2: 28, 55, 4;
}

#laila {
  --c1: 120, 78, 162;
  --c2: 3, 26, 82;
  --g1: 120, 78, 162;
  --g2: 3, 26, 82;
}

#briar {
  --c1: 209, 157, 195;
  --c2: 129, 51, 73;
  --g1: 209, 157, 195;
  --g2: 129, 51, 73;
}

#franklin {
  --c1: 119, 51, 53;
  --c2: 55, 56, 56;
  --g1: 119, 51, 53;
  --g2: 55, 56, 56;
}

#prue {
  --c1: 132, 155, 92;
  --c2: 95, 149, 91;
  --g1: 132, 155, 92;
  --g2: 95, 149, 91;
}

#beau {
  --c1: 120, 186, 185;
  --c2: 25, 115, 121;
  --g1: 120, 186, 185;
  --g2: 25, 115, 121;
}
